# Local .terraform directories
**/.terraform/

# .tfstate files (sensitive and managed by remote backends)
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Terraform variable files (potentially sensitive)
# Exclude all .tfvars files, which are likely to contain sensitive data.
# These should not be part of version control as they are data points
# which are potentially sensitive and subject to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally
# and so are not checked in.
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore the .terraform.lock.hcl file if you are not using it for platform-specific provider locking.
# However, if you need to ensure consistent provider versions across different platforms,
# you should commit this file after ensuring it contains checksums for all target platforms.
# **/.terraform.lock.hcl

# Ignore plan output files
*.tfplan*

# macOS specific files
.DS_Store